<div class="flex min-h-screen bg-amber-50 text-gray-800">
  <main class="flex-1 flex items-center justify-center p-8">
    <div class="w-full max-w-7xl bg-white rounded-2xl shadow-md p-30 text-center">

      <h1 class="text-3xl font-bold mb-4 text-amber-500">
        “伝わらない”をなくす、言語化トレーニング
      </h1>

      <p class="text-gray-500 mb-8 leading-relaxed">
        テーマと相手を設定して説明を書くと、AIがフィードバック。<br>
        分かりやすい言語化力を実践的に鍛えられます。
      </p>

      <div class="bg-amber-100 h-48 mb-8 flex items-center justify-center rounded-lg">
        UIイメージ（本リリースで実装）
      </div>

      <div class="flex flex-col sm:flex-row gap-4 justify-center">
        <%= link_to "ログイン",
          new_user_session_path,
          class: "w-full sm:w-1/3 text-center bg-amber-400 hover:bg-amber-500 text-white py-3 rounded-lg font-bold" %>

        <%= link_to "新規登録",
          new_user_registration_path,
          class: "w-full sm:w-1/3 text-center border border-amber-400 text-amber-500 py-3 rounded-lg font-bold hover:bg-amber-50" %>
      </div>
    </div>
  </main>
</div>
