<div class="text-center px-6 py-12">

  <h1 class="text-2xl font-bold mb-4">
    “伝わらない”をなくす、言語化トレーニング
  </h1>

  <p class="text-gray-600 mb-6">
    テーマと相手を設定して説明を書くと、AIがフィードバック。<br>
    分かりやすい言語化力を実践的に鍛えられます。
  </p>

  <div class="bg-gray-200 h-48 mb-6 flex items-center justify-center">
    UIイメージ or 図 (本リリースで実装予定)
  </div>

  <div class="flex flex-col sm:flex-row gap-4 justify-center">
   <%= link_to "ログイン", new_user_session_path, class: "w-1/4 text-center bg-blue-500 text-white py-4 rounded-2xl font-bold text-lg opacity-80 hover:opacity-100" %>
   <%= link_to "新規登録", new_user_registration_path,class: "w-1/4 text-center bg-red-500 text-white py-4 rounded-2xl font-bold text-lg shadow-md" %>
  </div>
</div>
