<% flash.each do |type, message| %>
  <% bg_class =
      type.to_sym == :notice ?
      "bg-green-50 border-green-200 text-green-700" :
      "bg-red-50 border-red-200 text-red-700" %>

  <div class="mb-4">
    <div class="rounded-lg border px-4 py-3 <%= bg_class %>">
      <%= message %>
    </div>
  </div>
<% end %>
